<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Usuario" value="branding"/>
		<add key="Password" value="Abcd1234*"/>
		<add key="DataPool" value="C:\\Repositorios\\SeleniumPOA-master\\SeleniumPOA-master\\SeleniumPractice\\DataPool\\Docs\\PortalEmision.xlsx"/>
		<add key="AmbienteQA" value="https://qa2.reachcore.io/portal"/>
		<add key="AmbientePiloto" value="https://oat.reachcore.com/portal"/>
		<add key="UsuarioPiloto" value="DemoVU02"/>
		<add key="PasswordPiloto" value="Abcd12345*"/>
		<add key="AmbienteProd" value=""/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
